*.png
*.zip
.claude/settings.json
.Rproj.user

.DS_Store
RCode/.DS_Store
/results_AM
/RCode
Rplots.pdf
figure_script_purl.R
figures_AM/all_figs.pdf
figures_AM/fig2.ai
figures_AM/pdf/Fig2a.pdf
figures_AM/pdf/Fig2b.pdf
figures_AM/pdf/Fig2c.pdf
